page-home{
    .scroll-content{
        background-color: #E2E2E2;
    }
    .inputtype{
        background-color: #E2E2E2;
        font-family: 'Myriad Pro';
        font-style: italic;
    }
    
    .logo{
        margin-right: 1em;
    }
    .register{
        font-family: 'Palitoon';
        width: 30%; 
        margin-left: 12em;
       }
    .registrarme{
    font-size: 2em;
    height: 40px;
    }
    .container{
        background-color:dimgray;
    }
    .inicio{
      
        font-family: 'Palitoon';
        font-size: 20px;
    }
    .title{
        font-size: 32px;
        margin-top: 0.8em;
        font-family: 'Bebas Neue';
    }
    .sesion{
        text-align: center;
        font-family: 'Palitoon';
        font-size: 3em;
    }
    .block{
        height: 6em;
        text-align: center;
        vertical-align: middle;
        border-bottom :2px solid #488aff;
    }
    .inputs{
        width: 80%;
        margin-left: 2em;
        margin-top: 6em;
        border: none;
    
    }
    .check{
        margin-left: 13em;
    }
    
}
