page-ranking {
    .title{
        font-size: 32px;
        margin-top: 0.8em;
        font-family: 'Bebas Neue';
        text-align: center;
    }
    .scroll-content{
        background-color: #E2E2E2;
    }
}
