accordion {
    .card-header{
        background-color:  #E2E2E2;
        color: #fff;
        padding: 0 !important;
    }
    .card-content{
        padding: 0px 10px;
        max-height: 0px;
    }
}
